@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');

.dropdownmenu ul, .dropdownmenu li {
	margin: 0;
	padding: 0;
}
.dropdownmenu ul {
	background: gray;
	list-style: none;
	width: 100%;
}
.dropdownmenu li {
	float: left;
	position: relative;
	width:auto;
}
.dropdownmenu a {
	background: #30A6E6;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
    


    
}
.dropdownmenu li:hover a {
	background: #000000;
}

/* SUB MENUS */
#submenu1 {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}

li:hover ul#submenu1 {
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
#submenu1 li {
	float: none;
	width: 150%;
}
#submenu1 a:hover {
	background: #DF4B05;
}
#submenu1 a {
	background-color:#000000;
}


#submenu2 {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}

li:hover ul#submenu2 {
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
#submenu2 li {
	float: none;
	width: 150%;
}
#submenu2 a:hover {
	background: #DF4B05;
}
#submenu2 a {
	background-color:#000000;
}



#submenu3 {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}

li:hover ul#submenu3 {
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
#submenu3 li {
	float: none;
	width: 150%;
}
#submenu3 a:hover {
	background: #DF4B05;
}
#submenu3 a {
	background-color:#000000;
}


#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: Animacion 10s ease-in-out infinite alternate both;
    font-family: 'IBM Plex Mono', monospace;
    
}

.dropdownmenu{
    vertical-align: middle;
    justify-content: center;
}

@keyframes Animacion{
    0%{
        background-color: #d8b4b4;
    }
    25%{
        background-color: rgb(182, 141, 209);
    }
    50%{
        background-color: #beb7fd;
    }
    75%{
        background-color: #ff9bfa;
    }
    100%{
        background-color: #ffadad;
    }
}
