@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');

.dropdownmenu ul, .dropdownmenu li {
	margin: 0;
	padding: 0;
}
.dropdownmenu ul {
	background: gray;
	list-style: none;
	width: 100%;
}
.dropdownmenu li {
	float: left;
	position: relative;
	width:auto;
}
.dropdownmenu a {
	background: #30A6E6;
	color: #002bb8;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.dropdownmenu{
	margin-right: 2em;
}

#titulo{
 	margin-left: 2em;
}

#head{
	height: 10%;
	width: 100%;
}

.dropdownmenu li:hover a {
	background: #000000;
	color: rgb(230, 230, 230);
}

/* SUB MENUS */
.submenu_tps {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}

li:hover ul.submenu_tps {
	opacity: 1;
	top: 40px;
	visibility: visible;
}
.submenu_tps li {
	float: none;
	width: 150%;
}
.submenu_tps li a:hover {
	background: #2885db;
}
.submenu_tps li a {
	background-color:#000000;
}

#head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: Animacion 10s ease-in-out infinite alternate both;
    font-family: 'IBM Plex Mono', monospace;
    width: 100%;
}

.dropdownmenu{
    vertical-align: middle;
    justify-content: center;
}

@keyframes Animacion{
    0%{
        background-color: #d8b4b4;
    }
    25%{
        background-color: rgb(182, 141, 209);
    }
    50%{
        background-color: #beb7fd;
    }
    75%{
        background-color: #ff9bfa;
    }
    100%{
        background-color: #ffadad;
    }
}
